<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PCD - After Sales | @ViewBag.Title</title>
    <link rel="icon" href="~/Content/Images/favicon.ico" />
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/gfont")
</head>
<body>

    @*<img id="main-image" class="img-responsive" src="~/Content/Images/porsche-logo-header.jpg" alt="Porsche" />*@
    <div class="navbar navbar-inverse" role="navigation">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("index","videos")" class="navbar-brand">PCD</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("index","videos")">List of videos</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @User.Identity.Name <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("list","users", new { Area = "manage" })">Manage users</a></li>
                                <li><a href="@Url.Action("Signout","Account")">Sign out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        }        
    </div>
    <div id="main-content" class="container">
        @RenderBody()
    </div>
    <footer id="main-footer">
        Al Boraq automobiles Co. W.l.l.
    </footer>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("Script", required: false)
</body>
</html>
