<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/gfont")
</head>
<body>
    <header id="main-header" class="container">
        <img src="~/Content/Images/st16-prototype.jpg" alt="Street 16 Service Center" />        
        <h1>Porsche Center Doha</h1>
        <h4>After Sales</h4>        
    </header>
    <div id="main-content" class="container">
        @RenderBody()        
    </div>
    <footer id="main-footer">
        &copy; @DateTime.Now.Year Alboraq automobiles co w.l.l. All rights reserved.
    </footer>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("Script", required: false)
</body>
</html>
