<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>PCD - After Sales | @ViewBag.Title</title>
    <link rel="icon" href="~/Content/Images/favicon.ico" />

    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/gfont")
</head>
<body>

    @Html.Partial("_MainHeader")

    <div id="main-content" class="container">
        <div class="row">

            @RenderBody()
            @RenderSection("Sidebar", required: false)

        </div>
    </div>

    <footer>
        <div class="container">
            <hr />
            <p class="text-center">Copyright &copy; @DateTime.Today.Year. Al Boraq automobiles Co. W.l.l.</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("Script", required: false)
    <script>
        $(function () {
            $('#search-form').on('submit', function () {

                if ($('#v').val().trim()) return true;

                return false;
            });
        });
    </script>
</body>

</html>
