<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="~/dist/images/favicon.ico" />
    <title>PCD - After Sales | @ViewBag.Title</title>

    <link href="~/dist/css/app.min.css" rel="stylesheet" />    
</head>
<body>

    @Html.Partial("_MainHeader")

    <div class="container">
        <div id="marquee-holder">
            <img src="~/dist/images/porsche_marquee_l.jpg" alt="Porsche" />
        </div>
    </div>

    @RenderBody()

    @Html.Partial("_Footer")    

    <script src="~/dist/js/lib.min.js"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=5p70a8d0ew9m48r9xmcngtz3t0itd0czyhvrsiimy476qizj" type="text/javascript"></script>
    <script src="~/dist/js/timeZoneCookie.js"></script>
    @RenderSection("Script", required: false)
</body>
</html>
