<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" />

    <title>PCD - After Sales | @ViewBag.Title</title>
    

    @Styles.Render("~/bootstrap", "~/cerulean", "~/fontawesome", "~/gfont", "~/css")    
</head>
<body>

    @Html.Partial("_MainHeader")

    <div id="main-content" class="container">
        <div class="row">

            @RenderBody()
            @RenderSection("Sidebar", required: false)

        </div>
    </div>

    <footer>
        <div class="container">
            <hr />
            <p class="text-center">Copyright &copy; @DateTime.Today.Year. Al Boraq automobiles Co. W.l.l.</p>
        </div>
    </footer>

    @Scripts.Render("~/jquery", "~/jbootstrap", "~/jcookies", "~/js")
    @RenderSection("Script", required: false)
    
</body>

</html>
