<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Title>PCD - After Sales | @ViewBag.Title</Title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/gfont")
</head>
<body>
    
        <img id="main-image" class="img-responsive" src="~/Content/Images/porsche-logo-header.jpg" alt="Porsche" />               
    
    <div id="main-content" class="container">
        @RenderBody()        
    </div>
    <footer id="main-footer">
        Al Boraq automobiles Co. W.l.l.
    </footer>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("Script", required: false)
</body>
</html>
