<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="shortcut icon" href="~/dist/images/favicon.ico" />
  <title>PCD - After Sales | @ViewBag.Title</title>


  <link href="~/assets/css/app.css" rel="stylesheet" />
  <link href="~/assets/css/PagedList.css" rel="stylesheet" />
</head>
<body>

  @Html.Partial("_MainHeader")

  <div id="marquee">
    <div class="container">
      <img src="~/dist/images/porsche-marque-rgb-digital_S_R.jpg" alt="Porsche" />
    </div>
  </div>

  @RenderBody()
  
  @Html.Partial("_Footer")

  <script src="~/dist/js/jquery.min.js"></script>
  <script src="~/dist/js/bootstrap.min.js"></script>
  <script src="~/dist/js/jquery.cookie.js"></script>
  <script src="~/dist/js/tinymce.min.js"></script>
  <script src="~/assets/js/videos/timeZoneCookie.js"></script>

  @RenderSection("Script", required: false)

</body>
</html>
