@model VideoUpload.Web.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}


<section class="container-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5">

        <h2>@ViewBag.Header</h2>

        <hr />

        @using (Html.BeginForm("changepassword", "users", FormMethod.Post))
        {
          @Html.HiddenFor(x => x.UserID)
          <div class="form-group">
            @Html.LabelFor(x => x.OldPassword)
            @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control input-sm", required = "required", autofocus = "autofocus" })
            @Html.ValidationMessageFor(x => x.OldPassword)
          </div>
          <div class="form-group">
            @Html.LabelFor(x => x.NewPassword)
            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control input-sm", required = "required" })
            @Html.ValidationMessageFor(x => x.NewPassword)
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default"><i class="fa fa-angle-right"></i>&nbsp; Submit</button>
          </div>
        }        
      </div>
    </div>
  </div>
</section>