@model VideoUpload.Web.Models.ConfirmPasswordViewModel

@{
    ViewBag.Title = "Confirm your password";
}

<div class="container-wrapper">
    <div class="container">
        <h2>Change your password</h2>

        <div class="row">
            <div class="col-md-5 col-md-5">
                @using (Html.BeginForm("confirmpasswordreset", "account", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.Key)
                    @Html.HiddenFor(x => x.Id)
                    @Html.ValidationSummary(excludePropertyErrors: true, message: string.Empty, htmlAttributes: new { @class = "text-danger" })

                    <div class="form-group">
                        <label for="NewPassword">Your new password:</label>
                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control input-sm", autofocus = "autofocus" })
                        @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-angle-right"></i>&nbsp; Change your password
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

