@model VideoUpload.Web.Models.UserViewModels.EmailPasswordViewModel

@{
    ViewBag.Title = "ChangeEmailPassword";
}

<div class="change-email-password-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>@ViewBag.Header</h2>

        @using (Html.BeginForm("changeemailpassword", "users", FormMethod.Post))
        {
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          <div class="form-group">
            @Html.HiddenFor(model => model.UserID)
          </div>
          <div class="form-group">
            @Html.LabelFor(model => model.EmailPassword)
            @Html.PasswordFor(model => model.EmailPassword, new { @class = "form-control input-sm", required = "required", autofocus = "autofocus" })
            @Html.ValidationMessageFor(model => model.EmailPassword, null, new { @class = "text-danger" })
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default"><i class="fa fa-angle-right"></i>&nbsp; Change email password</button>
          </div>
        }
      </div>
    </div>
  </div>
</div>


