@model VideoUpload.Web.Models.LoginViewModel
@{
  ViewBag.Title = "Signin";
}
<div id="form-signin">
  <div class="container">
    @using (Html.BeginForm("Signin", "Account", FormMethod.Post))
    {
      <h2>Sign in</h2>
      @Html.HiddenFor(x => x.ReturnUrl);
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <div class="form-group">
        @Html.LabelFor(x => x.Username)
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control input-sm", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
      </div>
      <div class="form-group">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control input-sm" })
        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
      </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Sign in</button>
          Forgot password? click <a href="@Url.Action("passwordreset")">here.</a>
        </div>
    }
  </div>
</div>
