@model VideoUpload.Core.Entities.Post

<div class="well text-center">
    @if (Model.IsApproved)
            {
                if (User.Identity.Name == Model.User.UserName)
                {
            <p>Send via:</p>

            <p>
                @Html.ActionLink("Email", "send", new { postID = Model.PostID, sendingType = "email" }, new { @class = "btn btn-info" })
                @Html.ActionLink("Sms", "send", new { postID = Model.PostID, sendingType = "sms" }, new { @class = "btn btn-info " })
            </p>
        }
        else
        {
            <p>Only the owner of this posted video can send via email or sms to customer.</p>
        }
    }
    else
    {
        if (!Model.HasApproval)
        {
            <p>This video has not yet been approved.</p>
        }
        else
        {
            <p>This video has been disappoved. You can't send this to our customer.</p>
        }
    }
</div>

@if (CurrentUser.Approval.Any(x => x.Value == "CanApproveVideo"))
{
    <div class="well text-center">
        <p>Review the video before letting the end-user send to the customer</p>
        <div class="btn-group">
            <button class="btn btn-primary btn-block btn-lg dropdown-toggle" data-toggle="dropdown">Approval <span class="caret"></span></button>
            <ul class="dropdown-menu">
                @if (!Model.HasApproval)
                {
                    <li><a href="#" data-toggle="modal" data-target="#appModal" data-isapproved="true" data-postid="@Model.PostID" data-url="@Url.Action("approval")">Approve</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#appModal" data-isapproved="false" data-postid="@Model.PostID" data-url="@Url.Action("approval")">Disapprove</a></li>
                }
                else
                {
                    if (!Model.IsApproved)
                    {
                        <li><a href="#" data-toggle="modal" data-target="#appModal" data-isapproved="true" data-postid="@Model.PostID" data-url="@Url.Action("approval")">Approve</a></li>
                    }
                    else
                    {
                        <li><a href="#" data-toggle="modal" data-target="#appModal" data-isapproved="false" data-postid="@Model.PostID" data-url="@Url.Action("approval")">Disapprove</a></li>
                    }
                }
            </ul>
        </div>
    </div>
}