@using VideoUpload.Web.Models;
@using VideoUpload.Core.Entities;

@model VideoUpload.Web.Models.PostViewModel

<div class="well text-center">
    <p class="lead">Start uploading your videos and show it to our valuable customers</p>
    @Html.ActionLink("Upload a video", "upload", null, new { @class = "btn btn-success btn-lg" })
</div>

@if (Model.CurrentView == "details")
{    
    @Html.Partial("_DetailsSidebar", Model)
}
    

@if (Model.ApprovedVideos.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Latest approved videos</h4>
        </div>

        <ul class="list-group">
            @foreach (var item in (List<Post>)ViewBag.ApprovedVideos)
            {
                <li class="list-group-item">
                    <a href="@Url.Action("details", new { postID = item.PostID, plateNumber = item.PlateNumber, fileName = item.Attachments.FirstOrDefault().FileName })">
                        <p>Plate number: @item.PlateNumber </p>
                    </a>
                </li>
            }
        </ul>
    </div>
}

@if (Model.VideosPlayed.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Recent videos played by customers</h4>
        </div>

        <ul class="list-group">
            @foreach (var item in (List<Post>)ViewBag.VideosPlayed)
            {
                <li class="list-group-item">
                    <a href="@Url.Action("details", new { postID = item.PostID, plateNumber = item.PlateNumber, fileName = item.Attachments.FirstOrDefault().FileName })">
                        <p>Plate number: @item.PlateNumber </p>
                    </a>
                </li>
            }
        </ul>
    </div>
}




