@model VideoUpload.Core.Entities.Post

<div class="col-md-8 col-sm-8">
    <h3 id="watch-yp-heading">@ViewBag.Header</h3>
    <article class="watch-posted-article">

        <div class="row">

            <div class="col-md-12 col-sm-6 col-xs-6 watch-group-sa">
                <strong>Your Service Advisor:</strong> @(Model.User.FirstName + " " + Model.User.LastName)
            </div>

            <div class="col-md-12 col-sm-6 col-xs-6 watch-group-contact">
                <strong>Should you have any queries, please contact us; @Model.Branch.PhoneNumber</strong>
            </div>
        </div>        

        <div class="embed-responsive embed-responsive-16by9">
            <video id="vPlayer" class="embed-responsive-item" controls preload="auto" controlsList="nodownload">
                <source src="@Url.Action("VideoResult", new { fileName = Model.Attachments.First().FileName })" type="@Model.Attachments.First().MIMEType" />
                Your browser does not support playing this video. Please upgrade your browser.
            </video>
        </div>

        <br />
        <div>@Html.Raw(Model.Description)</div>

    </article>

</div>

<div id="postUrl" class="hidden" data-url="@Url.Action("VideoHasPlayed")" data-id="@Model.PostID"
     data-uploader="@Model.User.UserName" data-hasplayed="@Model.HasPlayedVideo" data-datePlayedVideo="@Model.DatePlayedVideo"></div>