@using VideoUpload.Web.Models.Videos
@model ArchiveByViewModel

@{
    ViewBag.Title = "Archive";

    string archiveType = ViewData["archiveBy"].ToString().Replace('-', ' ');
    int counter = 1;
}

<div class="container-wrapper">
    <div class="container">

        <h2>Archives: @archiveType</h2>

        @foreach (var group in Model)
        {
            counter = 1;

            <p class="lead"><i class="fa fa-angle-right"></i>&nbsp; @group.Key.Value.ToLongDateString()</p>

            <div class="row">
                
                @foreach (var post in group)
                {
                    if ((counter % 4) == 0)
                    {
                        <div class="col-md-3 hidden-xs hidden-sm">
                            <div class="thumbnail">
                                <a href="@Url.Action("post", new {
            year = post.DateUploaded.Year,
            month = post.DateUploaded.Month,
            postID = post.PostID,
            plateNo = post.PlateNumber, urlFrom = "archives", section = ViewData["archiveBy"] })">
                                    <img src="@Url.Content($"~/uploads/thumbnails/{post.Attachments.First().ThumbnailFileName}")" />
                                </a>
                                <div class="caption">
                                    <h3>@post.PlateNumber</h3>
                                    <p><i class="fa fa-pencil-square-o"></i>&nbsp; @post.User.UserName</p>
                                    <p>@Html.Raw(post.Description)</p>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        counter = 1;
                    }
                    else
                    {
                        <div class="col-md-3 hidden-xs hidden-sm">
                            <div class="thumbnail">
                                <a href="@Url.Action("post", new {
            year = post.DateUploaded.Year,
            month = post.DateUploaded.Month,
            postID = post.PostID,
            plateNo = post.PlateNumber, urlFrom = "archives", section = ViewData["archiveBy"] })">
                                    <img src="@Url.Content($"~/uploads/thumbnails/{post.Attachments.First().ThumbnailFileName}")" />
                                </a>
                                <div class="caption">
                                    <h3>@post.PlateNumber</h3>
                                    <p><i class="fa fa-pencil-square-o"></i>&nbsp; @post.User.UserName</p>
                                    <p>@Html.Raw(post.Description)</p>
                                </div>
                            </div>
                        </div>

                        counter++;
                    }

                    <div class="visible-xs visible-sm col-xs-12">
                        <a href="@Url.Action("post", new {
            year = post.DateUploaded.Year,
            month = post.DateUploaded.Month,
            postID = post.PostID,
            plateNo = post.PlateNumber, urlFrom = "archives", section = ViewData["archiveBy"]})">@post.PlateNumber - @post.User.UserName</a>
                    </div>                                        
                }                
            </div>            
        }
        @Html.Partial("_Pager2", Model)
    </div>
</div>

