@model VideoUpload.Web.Models.PostViewModel

@{
    ViewBag.Title = "Details";    
}

<div class="col-xs-12">
    <p class="pull-right">
        @Html.ActionLink("Back to List", "index", null, new { @class = "btn btn-info btn-xs" }) |
        @Html.ActionLink("Edit post", "edit", new { postID = Model.PostID }, new { @class = "btn btn-info btn-xs" }) |
        @Html.ActionLink("Send to customer", "send", new { p = Model.PostID, v = ViewBag.FileName }, new { @class = "btn btn-success btn-xs " })
    </p>
</div>

<h2>Details</h2>

<div class="panel panel-danger">
    <div class="panel-heading">
        <b>Plate number:</b> @Html.DisplayFor(model => model.PlateNumber)
        <span class="pull-right"><b>Owner:</b> @Html.DisplayFor(model => model.UploadedBy)</span>
    </div>
    <div class="panel-body">
        <p><b>Description:</b><br /> @Html.DisplayFor(model => model.Description)</p>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" preload="metadata" autoplay controls poster="@Url.Content("~/Content/Images/porsche-logo.png")">
            <source src="@Url.Action("VideoResult", new { fileName = ViewBag.FileName })" type="@ViewBag.MIMEType" />
            Your browser does not support playing this video. Please upgrade your browser.
        </video>    
    </div>    
</div>
