@model VideoUpload.Web.Models.PostViewModel
@{
    ViewBag.Title = "Details";
}
@Html.Partial("_Modal")

<div class="btn-group btn-group-xs" role="group">
    @Html.ActionLink("Back to list", "index", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Edit post", "edit", new { postID = Model.PostID }, new { @class = "btn btn-info" })
    @if (Model.IsApproved)
    {
        <div class="btn-group btn-group-xs">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sending options <span class="caret"></span></button>

            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Send email", "send", new { p = Model.PostID, v = ViewBag.FileName, sendingType = "email" })
                </li>
                <li>
                    @Html.ActionLink("Send sms", "send", new { p = Model.PostID, v = ViewBag.FileName, sendingType = "sms" })
                </li>
            </ul>
        </div>
    }
    @if (CurrentUser.Approval.Any(x => x.Value == "CanApproveVideo"))
    {
        <div class="btn-group btn-group-xs">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Approval <span class="caret"></span></button>
            <ul class="dropdown-menu">
                @if (!Model.IsApproved)
                {
                    <li><a href="#" data-toggle="modal" data-target="#appModal" data-isapproved="true" data-postid="@Model.PostID" data-url="@Url.Action("approval")">Approve</a></li>
                }
                else
                {
                    <li><a href="#" data-toggle="modal" data-target="#appModal" data-isapproved="false" data-postid="@Model.PostID" data-url="@Url.Action("approval")">Disapprove</a></li>
                }                
            </ul>
        </div>
    }
</div>

<h2>Details</h2>
<div class="panel panel-danger">
    <div class="panel-heading">
        <b>Plate number:</b> @Html.DisplayFor(model => model.PlateNumber)
        <p class="pull-right"><b>Owner:</b> @Html.DisplayFor(model => model.UploadedBy)</p>
    </div>
    <div class="panel-body">
        <p><b>Description:</b><br /> @Html.DisplayFor(model => model.Description)</p>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <video id="vPlayer" class="embed-responsive-item" preload="metadata" autoplay controls poster="@Url.Content("~/Content/Images/porsche-logo.png")">
            <source src="@Url.Action("VideoResult", new { fileName = ViewBag.FileName })" type="@ViewBag.MIMEType" />
            Your browser does not support playing this video. Please upgrade your browser.
        </video>
    </div>
</div>



@section Script {
    <script src="~/scripts/videos/details.js"></script>
}
