
@using PagedList;
@using PagedList.Mvc;
@using VideoUpload.Web.Common;
@using VideoUpload.Core.Entities;

@model IPagedList<VideoUpload.Web.Models.PostViewModel>

@{
    ViewBag.Title = "List of videos";
}

<div class="col-md-8">
    <h1>Latest post</h1>

    @if (Model.Count != 0)
    {
        foreach (var item in Model)
        {
            <article>
                <a href="@Url.Action("details", new { postID = item.PostID, plateNumber = item.PlateNumber, fileName = item.Attachments.FirstOrDefault().FileName })">
                    <h3>Car plate number: @item.PlateNumber </h3>
                </a>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <span class="glyphicon glyphicon-upload"></span> uploaded by: @item.UploadedBy
                    </div>
                    <div class="text-right col-md-6 col-sm-6">
                        <span class="glyphicon glyphicon-time"></span> @item.DateUploaded.ToClientTime()
                    </div>
                </div>

                <hr />

                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls>
                        <source src="@Url.Action("VideoResult", new { fileName = item.Attachments.FirstOrDefault().FileName })" type="@ViewBag.MIMEType" />
                        Your browser does not support playing this video. Please upgrade your browser.
                    </video>
                </div>

                <br />

                <p class="lead text-center">@item.Description</p>

                <hr />

                <a href="@Url.Action("details", new { postID = item.PostID, plateNumber = item.PlateNumber, fileName = item.Attachments.FirstOrDefault().FileName })">
                    <p class="text-right">See full details</p>
                </a>
            </article>
        }

        @Html.PagedListPager(Model, page => Url.Action("index", new { page }), PagedListRenderOptions.TwitterBootstrapPagerAligned)

    }
    else
    {
        <div class="alert alert-info">
            <h4 class="text-center">No post to be displayed.</h4>
        </div>
    }
</div>


@section SideBar {
    <div class="col-md-4">

        <div class="well text-center">
            <p class="lead">Start uploading your videos and show it to our valuable customers</p>
            @Html.ActionLink("Upload a video", "upload", null, new { @class = "btn btn-success btn-lg" })
        </div>

@if (ViewBag.ApprovedVideos.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Latest approved videos</h4>
        </div>

        <ul class="list-group">
            @foreach (var item in (List<Post>)ViewBag.ApprovedVideos)
            {
                <li class="list-group-item">
                    <a href="@Url.Action("details", new { postID = item.PostID, plateNumber = item.PlateNumber, fileName = item.Attachments.FirstOrDefault().FileName })">
                        Plate number: @item.PlateNumber
                    </a>
                </li>
            }
        </ul>
    </div>
}

@if (ViewBag.VideosPlayed.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Recent videos played by customers</h4>
        </div>

        <ul class="list-group">
            @foreach (var item in (List<Post>)ViewBag.VideosPlayed)
            {
                <li class="list-group-item">
                    <a href="@Url.Action("details", new { postID = item.PostID, plateNumber = item.PlateNumber, fileName = item.Attachments.FirstOrDefault().FileName })">
                        Plate number: @item.PlateNumber
                    </a>
                </li>
            }
        </ul>
    </div>
}
        @*@Html.Partial("_VideoSideBar", ()Model)*@
    </div>
}

@section Script {
    <script src="~/scripts/videos/timeZoneCooke.js"></script>
}



