@using PagedList;
@using PagedList.Mvc;
@using VideoUpload.Web.Common;

@model IPagedList<VideoUpload.Web.Models.PostViewModel>

@{
    ViewBag.Title = "List of videos";
}

<div class="col-xs-12">
    <p class="pull-right">
        @Html.ActionLink("Upload a video", "upload", null, new { @class = "btn btn-success btn-xs" })
    </p>
</div>

<h2>List of videos</h2>

@if (Model.Count() != 0)
{
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <tr>
                <th>Plate number</th>
                <th>Description</th>
                <th>Uploaded by</th>
                <th>Date Uploaded</th>
                <th>Location</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PlateNumber</td>
                    <td>@item.Description</td>
                    <td>@item.UploadedBy</td>
                    <td>@item.DateUploaded.ToClientTime()</td>
                    <td>@item.BranchName</td>
                    <td>
                        <a href="@Url.Action("edit", new { postID = item.PostID })" class="btn btn-warning btn-xs"><i class="fa fa-pencil-square-o"></i> Edit</a> |
                        @if (item.Attachments == null)
                        {
                            <span class="label label-danger">No video attached.</span>
                        }
                        else
                        {
                            <a href="@Url.Action("details", new { postID = item.PostID,
                                    fileName = item.Attachments.FirstOrDefault().FileName,
                                    plateNumber = item.PlateNumber })" class="btn btn-warning btn-xs">
                                <i class="fa fa-info"></i> Details
                            </a>
                        }

                        @if (!item.HasApproval)
                        {
                            <text>|</text>
                            <span class="label label-info">For approval.</span>
                        }
                        else
                        {
                            if (item.IsApproved)
                            {
                                <text>|</text>
                                <span class="label label-success">Approved.</span>
                            }
                            else
                            {
                                <text>|</text>
                                <span class="label label-danger">Disapproved.</span>
                            }}
                    </td>
                </tr>
            }
        </table>
        @Html.PagedListPager(Model, page => Url.Action("index", new { page }),
            new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })        
    </div>
}
else
{
    <div class="alert alert-info">
        <h4 class="text-center">No post to be displayed.</h4>
    </div>
}
@section Script {
    <script src="~/scripts/videos/timeZoneCooke.js"></script>
}