@model IEnumerable<VideoUpload.Web.Models.PostViewModel>

@{
    ViewBag.Title = "List of videos";  
}

<p class="pull-right">
    @Html.ActionLink("Upload a video", "Upload", null, new { @class = "btn btn-success btn-xs" })
</p>

<h2>List of Videos</h2>


@if (Model.Count() != 0)
{
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Owner)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { postID = item.PostID })" class="btn btn-warning btn-xs">
                            <i class="fa fa-pencil-square-o"></i> Edit
                        </a> |
                        @if (item.Attachments == null)
                        {
                            <span class="label label-danger">No video attached.</span>
                        }
                        else
                        {
                            <a href="@Url.Action("Details",
                                new { postID = item.PostID, fileName = item.Attachments.FirstOrDefault().FileName })"
                               class="btn btn-warning btn-xs">
                                <i class="fa fa-info"></i> Details
                            </a>
                        }                                                                        
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <div class="alert alert-info">
        <h3>No post to be displayed.</h3>
    </div>
}
