@model VideoUpload.Web.Models.Videos.VideoViewModel

@{
  ViewBag.Title = "List of videos";
}

<div class="container-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">

        <h1>@ViewBag.Header</h1>

        @if (Model.Count > 0)
      {
          @Html.Partial("_Pager", Model);

        foreach (var post in Model)
        {
            @Html.Partial("_Post", post);
        }

          @Html.Partial("_Pager", Model);
      }
      else
      {
          <div class="alert alert-info">
            <h4 class="text-center">No post to be displayed.</h4>
          </div>
        }
      </div>
      <div class="col-md-4 col-sm-4">
        @Html.Action("Sidebars")
      </div>
    </div>
  </div>
</div>