@model VideoUpload.Core.Entities.Post
@{
  ViewBag.Title = "Details";
}

@Html.Partial("_Modal")

<div class="container-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <article>

          <h3>@ViewBag.Header</h3>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              Uploaded by: @Model.User.UserName
            </div>
            <div class="text-right col-md-6 col-sm-6 col-xs-6">
              @Model.DateUploaded.ToClientTime()
            </div>
          </div>

          <hr />

          <div class="embed-responsive embed-responsive-16by9">
            <video id="vPlayer" class="embed-responsive-item" controls preload="auto" controlsList="nodownload">
              <source src="@Url.Action("VideoResult", new { fileName = Model.Attachments.First().FileName })" type="@Model.Attachments.First().MIMEType" />
              Your browser does not support playing this video. Please upgrade your browser.
            </video>
          </div>

          <br />
          <div>
            <p>Description:</p>
            @Html.Raw(Model.Description)
          </div>

          <br />

          @if (Model.Histories.Count() > 0)
          {
            <article class="well">
              <p>Email and Sms logs</p>

              <ul class="list-unstyled">
                @foreach (var history in Model.Histories)
                {
                  <li>
                    For <b>@history.Name:</b><br />
                    <span>@history.Recipient</span> on <span>@history.DateSent.ToClientTime()</span>
                  </li>
                }
              </ul>
            </article>
          }

        </article>

        <ul class="pager">
          <li class="previous">
            <a href="@Url.Action("posts")">
              <i class="fa fa-angle-left"></i> &nbsp;&nbsp; Back to list
            </a>
          </li>
        </ul>

      </div>
      <div class="col-md-4 col-sm-4">
        <!--for email, sms and approval sections-->
        @Html.Partial("_PostActions", Model)
        @Html.Action("Sidebars")
      </div>
    </div>
  </div>
</div>


@section Script {    
  <script src="~/dist/js/videos/details.js"></script>
}