@model VideoUpload.Core.Entities.Post

@{
    ViewBag.Title = "Send a link";
}


@{
    var sendingType = ViewBag.SendingType;
    var url = Url.Action("watch", new {
        year = Model.DateUploaded.Year,
        month = Model.DateUploaded.Month,
        postID = Model.PostID,
        plateNo = Model.PlateNumber });
    var hasError = ViewBag.HasError;
}

<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">

    <h2 class="text-center">@ViewBag.Header</h2>

    <div class="well text-center">
        <p class="lead">Plate number: @Model.PlateNumber</p>
        <p><b>Description:</b> @Model.Description</p>
    </div>

    @using (Html.BeginForm("send", "videos", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.PostID)
        <input type="hidden" name="sendingType" value="@sendingType" />
        <input type="hidden" name="url" value="@url" />
        <div class="form-group">
        @if (ViewBag.SendingType == "email")
        {
            <label for="email">Enter email address:</label>
            <input type="email" name="email" class="form-control @hasError" autofocus required />
        }
        else
        {        
            <label for="mobile">Phone number: (include the country code e.g +974)</label>
            <input type="text" name="mobile" class="form-control @hasError" autofocus required />        
        }
        </div>
        <div class="form-group">
            <label for="customerName">Customer name: (with appellation)</label>
            <input type="text" name="customerName" class="form-control" required />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg" value="Send" />
        </div>
    }

    <ul class="pager">
        <li class="previous">
            <a href="@Url.Action("post",  new {
                        year = Model.DateUploaded.Year,
                        month = Model.DateUploaded.Month,
                        postID = Model.PostID,
                        plateNo = Model.PlateNumber })">
                <span class="glyphicon glyphicon-arrow-left"></span> Back to details
            </a>
        </li>
    </ul>

</div>



