@model VideoUpload.Core.Entities.Post

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" />
    <title>PCD - After Sales | Your Porsche</title>
    @Styles.Render("~/bootstrap", "~/css")   
</head>
<body>
    <h3 class="header-crest">
        <span class="wrapper-crest">
            <a class="link-crest" href="@Url.Action("posts","videos")">Home</a>
        </span>
    </h3>
    <hr />
    <div id="main-container">        
        <div id="main-content" class="container">
            <div class="row">
                @Html.Partial("_Watch", Model)
                <div class="col-md-4 col-sm-4">
                    @Html.Action("GetBranches", "home")
                    @Html.Partial("_SocialSidebar")
                </div>
            </div>
        </div>
        <footer id="main-footer">
            <div class="container">
                <p class="text-center">Copyright &copy; @DateTime.Today.Year. Al Boraq Automobiles Co. w.l.l.</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/jquery", "~/jbootstrap", "~/tinymce", "~/watch")

    <script>
        $('.dropdown-contact-menu .divider:last-child').remove();        
    </script>
    @if (!User.Identity.IsAuthenticated)
    {
        <script>document.body.style.padding = '0px';</script>
    }
</body>
</html>