@model VideoUpload.Core.Entities.Post
@{
    ViewBag.Title = "Your Porsche";
}

@Html.Partial("_Modal")

<div class="col-md-8 col-sm-8">
    <article>

        <h3>@ViewBag.Header</h3>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <strong>Your Service Advisor:</strong> @(Model.User.FirstName + " " + Model.User.LastName)
            </div>
            <div class="text-right col-md-6 col-sm-6 col-xs-6">
                
            </div>
            <div class="col-md-12 col-sm-12">
                @switch (Model.Branch.BranchName)
                {
                    case "ST16":
                        <text><strong>Should you have any queries, contact us +974 44599 799</strong></text>
                        break;
                    case "ST27":
                        <text><strong>Should you have any queries, contact us +974 44599 777</strong></text>
                        break;
                    case "QSC":
                        <text><strong>Should you have any queries, contact us +974 44599 733</strong></text>
                        break;
                    default:
                        <text><strong>Should you have any queries, contact us +974 44599 666</strong></text>
                        break;
                }
            </div>
        </div>

        <hr />

        <div class="embed-responsive embed-responsive-16by9">
            <video id="vPlayer" class="embed-responsive-item" controls preload="auto">
                <source src="@Url.Action("VideoResult", new { fileName = Model.Attachments.First().FileName })" type="@Model.Attachments.First().MIMEType" />
                Your browser does not support playing this video. Please upgrade your browser.
            </video>
        </div>

        <br />

        <p class="lead text-center">@Model.Description</p>

    </article>

</div>

<div id="postUrl" class="hidden" data-url="@Url.Action("VideoHasPlayed")" data-id="@Model.PostID"
     data-uploader="@Model.User.UserName" data-hasplayed="@Model.HasPlayedVideo" data-datePlayedVideo="@Model.DatePlayedVideo"></div>

@section SideBar {
    <div class="col-md-4 col-sm-4">
        @Html.Partial("_SocialSidebar")
    </div>
}

                @section Script {
                    @Scripts.Render("~/watch")    
}