@model VideoUpload.Core.Entities.Post

@{
    ViewBag.Title = "Watch";
}

<section id="watch-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <article class="watch-posted-article">
          <h3>@ViewBag.Header</h3>
          <div class="row">

            <div class="col-md-12 col-sm-6 col-xs-6 watch-group-sa">
              <span>Your Service Advisor:</span> @(Model.User.FirstName + " " + Model.User.LastName)
            </div>

            <div class="col-md-12 col-sm-6 col-xs-6 watch-group-contact">
              <span>Should you have any queries, please contact us; @Model.Branch.PhoneNumber</span>
            </div>
          </div>

          <div class="embed-responsive embed-responsive-16by9">
            <video id="vPlayer" class="embed-responsive-item" controls preload="auto" controlsList="nodownload">
              <source src="@Url.Action("VideoResult", new { fileName = Model.Attachments.First().FileName })" type="@Model.Attachments.First().MIMEType" />
              Your browser does not support playing this video. Please upgrade your browser.
            </video>
          </div>

          <br />
          <div>
            <p>Description:</p>
            @Html.Raw(Model.Description)
          </div>

        </article>

        <div id="postUrl" class="hidden" data-url="@Url.Action("VideoHasPlayed")" data-id="@Model.PostID"
             data-uploader="@Model.User.UserName" data-hasplayed="@Model.HasPlayedVideo" data-datePlayedVideo="@Model.DatePlayedVideo"></div>
      </div>
      <div class="col-md-4 col-sm-4">
        @Html.Action("GetBranches", "home")
      </div>
    </div>
  </div>
</section>

@section Script{    
  <script src="~/assets/js/videos/watch.js"></script>
}
