@model VideoUpload.Core.Entities.Post

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" />
    <title>PCD - After Sales | Your Porsche</title>

    @Styles.Render("~/bootstrap", "~/united", "~/fontawesome", "~/gfont", "~/css")    

</head>
<body>
    <div id="cust-header">
        <div class="container">
            <a href="http://www.porsche.com/middle-east/_qatar_/">
                <img src="~/Content/Images/Porsche-MZ-30mm.jpg" />
            </a>
            <hr />
        </div>
    </div>
    <div id="main-content" class="container">
        <div class="row">
            @Html.Partial("_Watch", Model)
            <div class="col-md-4 col-sm-4">
                @Html.Partial("_SocialSidebar")
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <hr />
            <p class="text-center">Copyright &copy; @DateTime.Today.Year. Al Boraq Automobiles Co. W.l.l.</p>
        </div>
    </footer>
    @Scripts.Render("~/jquery", "~/jbootstrap", "~/jcookies", "~/tinymce", "~/js", "~/watch")
    
    <script>
        $('.dropdown-contact-menu .divider:last-child').remove();
    </script>
</body>
</html>
