@model VideoUpload.Web.Models.PostViewModel

@{
    ViewBag.Title = "Your Porsche";
}

<h2 class="text-danger">Your Porsche</h2>
<div class="panel panel-danger">
    <div class="panel-heading">
        <b>Plate number:</b> @Html.DisplayFor(model => model.PlateNumber)        
    </div>
    <div class="panel-body">
        <p><b>@Html.DisplayNameFor(model => model.Description)</b> <text>:</text> <br /> @Html.DisplayFor(model => model.Description)</p>

    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" preload="metadata" autoplay controls poster="@Url.Content("~/Content/Images/porsche-logo.png")">
            <source src="@Url.Action("VideoResult", new { fileName = ViewBag.FileName })" type="@ViewBag.MIMEType" />
            Your browser does not support playing this video. Please upgrade your browser.
        </video>  
    </div>
</div>