@model VideoUpload.Web.Models.PostViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Car Concerns</h2>
<hr />
<div class="row">
    <div class="col-sm-12 col-xs-12 well">
        <p><b>@Html.DisplayNameFor(model => model.Title)</b> <text>:</text> @Html.DisplayFor(model => model.Title)</p>
        <p><b>@Html.DisplayNameFor(model => model.Description)</b> <text>:</text> <br /> @Html.DisplayFor(model => model.Description)</p>          
    </div>
    @*<div class="col-sm-6 col-xs-12">
        <h5>List of attachments</h5>
        <ul class="list-group">
            @foreach (var item in Model.Attachments)
            {
                <li class="list-group-item"><a href="@Url.Action("Details", new { postID = item.PostID, fileName = item.FileName })">@item.AttachmentNo</a></li>
            }
        </ul>
    </div>*@
</div>

<div class="row">
    <div class="col-sm-12">
        <h5>Playing @ViewBag.AttachmentNo</h5>
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="true" autoplay src="@Url.Action("VideoResult", new { fileName = ViewBag.FileName })">
                <source src="@Url.Action("VideoResult", new { fileName = ViewBag.FileName })" type="@ViewBag.MIMEType" />
            </video>
        </div>
    </div>

</div>