@model VideoUpload.Web.Models.HealthChecks.HcViewModel
    
@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm("new", "healthcheck", FormMethod.Post))
{   
    <div class="row">
        <div class="hc-details">
            <h3 class="text-center">Vehicle Health Check</h3>
            <div class="col-md-4 col-sm-8 col-xs-12">
                <p><b>Customer name:</b> @Html.TextBoxFor(x => x.Jobcard.CustomerName)</p>
            </div>
            <div class="col-md-8 col-sm-4 col-xs-12">
                <p><b>Jobcard:</b> @Html.TextBoxFor(x => x.Jobcard.JobcardNo)</p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p><b>VIN:</b> @Html.TextBoxFor(x => x.Jobcard.ChassisNo)</p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p><b>Plate no:</b> @Html.TextBoxFor(x => x.Jobcard.PlateNo)</p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p><b>mileage:</b> @Html.TextBoxFor(x => x.Jobcard.Mileage)</p>
            </div>
        </div>
    </div>

    foreach (var hcGroup in Model.GroupedHealthChecks)
    {
        <table class="table table-condensed hc-table">
            <thead>
                <tr>
                    <th></th>
                    <th>@hcGroup.Key</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-center">Comments</th>
                </tr>
            </thead>
            <tbody>                
                @foreach (var item in hcGroup)
                {                   
                    <tr>
                        <td class="hc-hccode">@item.HcCode</td>
                        <td class="hc-description">@item.Description</td>
                        @Html.EditorFor(x => Model.HealthCheckDetails, new { HcCode = item.HcCode })
                    </tr>
                }
            </tbody>
        </table>
    }
    
    <input type="submit" class="btn btn-default" value="Save" />
}